body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(181, 84, 229);
}

.yellow {
    background-color: rgb(38, 190, 241);
}

.grey {
    background-color: rgb(59, 251, 136);
}

.purple {
    background-color: rgb(249, 66, 66);
}

.flashBtn {
    background-color: white;
}

.userFlash {
    background-color: aquamarine;
}

h3 {
    font-size: 30px;
}